{% extends "layout.html" %}
{% block title %}Log Workout{% endblock %}
{% block main %}
    <h2 class="mb-4">Log Your Session</h2>
    <form action="/log" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="split" required>
                <option disabled selected>Workout Split</option>
                <option value="Push">Push</option>
                <option value="Pull">Pull</option>
                <option value="Legs">Legs</option>
                <option value="Arnold Chest/Back">Arnold (Chest/Back)</option>
                <option value="Arnold Shoulders/Arms">Arnold (Shoulders/Arms)</option>
            </select>
        </div>
        <div class="mb-3"><input class="form-control mx-auto w-50" name="exercises" placeholder="Exercises (e.g., Incline DB Press, Cable Flyes)" type="text" required></div>
        <div class="mb-3"><input class="form-control mx-auto w-auto" name="duration" placeholder="Duration (mins)" type="number" min="1" required></div>
        <button class="btn btn-primary" type="submit">Log Workout</button>
    </form>
{% endblock %}
